extends layout

block content
    br
    br
    h1 #{title}
    form(method='POST' action='/articles/add')
        #form-group1
            label Title:
            input.form-control(name='title' type='text')
        #form-group3
            label Body:
            textarea.form-control(name='body')
        br
        input.btn.btn-primary(type='submit' value='Submit')